@{
    ViewBag.Title = "Indiana";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">This General Store application allows users to create Products, Customers, and Transactions.</p>
    <p><a href="https://github.com/FredMacSWDev/GeneralStore.MVC/blob/master/README.md" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Start building the General Store by clicking on the General Store link in the navbar above or by clicking the link below.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Access our customer information here...</p>
        <p>@Html.ActionLink("View Customers »", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>How are we doing?</h2>
        <p>We would like to receive feedback from you, whether it be comments about the store or concerns.</p>
        <p><a class="btn btn-default" href="https://github.com/FredMacSWDev/GeneralStore.MVC/blob/master/README.md">Learn more &raquo;</a></p>
    </div>
</div>